
@font-face{
  font-family: 'titulo_proy';
  src: url('fonts/marion.woff');
}
@font-face{
  font-family: 'descrip_proy';
  src: url('fonts/marion.woff');
}


.fuenteTitulo{
  font-family: 'titulo_proy';
  font-size: 2em;
  color: #ffffff;
}

.fuenteDescrip{
  font-family: 'descrip_proy';
  font-size: 15px;
  color: #c1c0c0;
}



.text:hover{
  opacity: 1;
}

.text{
  position: absolute;
    top: 0;
    left: 0%;
    color:#f00;
    background-color:rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 3;
    opacity: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}


.text > p{
  position: relative;
  width: 92%;
  top: 50%;
  left: 5%;
}


.text > span{
  position: absolute;
  top: 35%;
  left: 5%;
}



.text1:hover{
  opacity: 1;
}

.text1{
  position: absolute;
    top: 0;
    left: 0%;
    color:#f00;
    background-color:rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 3;
    opacity: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}


.text1 > p{
  position: absolute;
  width: 92%;
  top: 50%;
  left: 5%;
}



.text1 > span{
  position: absolute;
  top: 30%;
  left: 5%;
}
