@font-face {
font-family: "GillSans";
font-style: normal;
font-weight: normal;

src: url(fonts/gillsans.woff);
}

@font-face {
    font-family: 'Gill Sans Bold';
    src: url('fonts/gillsansBold/GillSans-Bold.eot');
    src: url('fonts/gillsansBold/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/gillsansBold/GillSans-Bold.woff') format('woff'),
        url('fonts/gillsansBold/GillSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Light';
    src: url('fonts/gillsansLight/GillSans-Light.eot');
    src: url('fonts/gillsansLight/GillSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/gillsansLight/GillSans-Light.woff') format('woff'),
        url('fonts/gillsansLight/GillSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
  font-family: 'Marion';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/marion.woff);
}


@font-face {
    font-family: 'Conv_Abadi MT Condensed Extra Bold';
    src: url('fonts/Abadi/Abadi MT Condensed Extra Bold 2.eot');
    src: local('☺'), url('fonts/Abadi/Abadi MT Condensed Extra Bold 2.woff') format('woff'), url('fonts/Abadi/Abadi MT Condensed Extra Bold 2.ttf') format('truetype'), url('fonts/Abadi/Abadi MT Condensed Extra Bold 2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
	/*padding: 2%;*/
   font-family: "GillSans";
}





h6{
	margin-bottom: 5%;
}
ul{
	list-style: none;
	padding-left: 0px;
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
img{
	width:100%;
	height: 100%;
}

.textoBlanco{
    color:white;
}

.numero{
       font-family: 'Conv_Abadi MT Condensed Extra Bold';
       font-size: 250px!important;
     
         z-index: 1;
}

.light{
       font-family: 'Gill Sans Light';
    font-size: 14px;
    position: absolute;
    z-index: 0;
    letter-spacing: 4px;

}

.tituloMarion{
  font-size: 44px;
  font-family: 'Marion';
}


.title-gray{
    font-family: 'Gill Sans Light';
}



.circle-li:before {
    content: "• ";
    color: #7B7D80;
}
.padding-estandar{
	padding: 2%;
	box-sizing: border-box;
}

.padding-estandar2{
	padding: 0 2%;
	box-sizing: border-box;
}


.title-gray{
	color: #7B7D80;
}

.title-image{
        width: 185px;
}



/*Números*/
.big-number span{
	display: inline-block;
	vertical-align: top;
}
.big-number span:first-of-type{
	padding-top: 110px;
	position: absolute;
	border-bottom: 5px solid #333;
	font-size: 20px;
    border-bottom: 9px solid #5F5F62;
    font-size: 17px;
}
.big-number span:last-of-type{
	font-size: 170px;
}
.big-number.small-text span:first-of-type{
	width: 125px;
}
.big-number.small-text span:last-of-type{
	margin-left: 80px;
}
.big-number.large-text span:first-of-type{
	    width: 155px;

}
.big-number.large-text span:last-of-type{
	margin-left: 105px;
}
.number1{
	width: 270px;
	float: right;
    margin: 10px 25px 0 0;
}
.number2{
	width: 295px;
	       margin: 91px 0 0 24px;
}
.number3{
	width: 300px;
	float: right;
}

.au50{
    left: 38px;
    width: 161px!important;

}

.au51{
        border-bottom: 9px solid #000   !important;
}

.p-description{
	width: 55%;
	padding:0.8% 0;
}

.nopad{
	padding:0;
}

/*Fondos*/
.white{

	color: white;
}
.dark-gray{
	background: #2B2E34;
	color: white;
	text-align: center;
}
.border-black{
	border-bottom: 5px solid black !important;
}

/*Último bloque*/
.dark-gray p{
	width: 30%;
	margin: 3% auto;
}
.dark-gray span{
	padding: 10px;
}

/*Estilos generales*/
.center{
	text-align: center;
}
.upper{
	text-transform: uppercase;
}
.bold{
/*	font-weight: bold;*/
    font-family: 'Gill Sans Bold';
}

.logossmallCenter{
	width:200px;
	margin:0 auto;
	padding:4% 0;

}

.logosbigCenter{
	width:300px;
	margin:0 auto;
	padding:4% 0;

}

#fondo{
	width:100%;
	height:100%;
	opacity: 1;
	position: absolute;
	z-index: 0
}



#fondo img{
	width:100%;
}

#contenedor{
	display: block;
    position: relative;
}

#aboutUno{
 	width:31%;
 	position: absolute;
 	right: 5%;
 	z-index: 1;
 	top: -35%;
}


#aboutDos{
 	width:100%;
 	position: relative;
 	/*right: 10%;*/
 	z-index: 1;
}

#aboutDos img {
 	position: relative;
 	right: 0;
    margin-top:16%;

}

#aboutTres{
    width: 34%;
    position: absolute;
       right: 10%;
    z-index: 1;

}

.uno{
	/*position: relative;*/
	z-index: 1;	
	background:transparent;
	top: 120px;
    padding-bottom: 0;

}

.title{
	font-size: 50px;
}

.subtitle{
    font-size: 16px;
    font-family: "GillSans";
    letter-spacing: 2px;
}

.text{
	font-size: 17px;
    padding: 0 15px;
    text-align: justify;
    letter-spacing: 1px;
}

#second{
	position: relative;
	z-index: 1;	
	background:transparent;
}

.fondoGris{
  background: #636466;

}

.fondoBlanco{
  background: #fff;
    -moz-box-shadow: 0px -20px 4px #525559;
  -webkit-box-shadow: 0px -20px 4px #525559;
  box-shadow: 0px -20px 4px #525559;

}

.trianguloSuperior{
/*    background-image: url(../img/nosotros/triangulo_1.png);*/
    background-repeat: no-repeat;
/*   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-size: 100% 100%;
      height: 250px;
}

.trianguloInferior{
    background-image: url(../img/nosotros/triangulo_2.png);
    background-repeat: no-repeat;
/*   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-size: 100% 100%;
}

.cont{
    position: relative;
    width: 100%;
    height: 500px;
}

.textCircles{
	color: white;
    font-size: 15px;
    position: relative;
    width: auto;
    top: 6px;
    text-align: center
}

#circulo{
	width: 100%;
    height: 470px;
    position: relative;
}

#dna{
    position: relative;
    width: 14%;
    left: 50%;
    top: 0;
    margin-left: -4%;
}

#linea1{
    position: relative;
    width: 7%;
    left: 44%;
    top: 80%;
}

#idea{
    position: relative;
    width: 14%;
    left: 45%;
    top: 8px;
   }

#linea2{
    position: absolute;
    width: 17%;
    left: 25%;
    top: 45px;
}

#linea3{
    position: absolute;
    width: 16%;
    left: 63%;
    top: 44px;

}

#comportamiento{
    position: absolute;
    width: 14%;
    left: 17%;
    top: 25%;
}


#personalidad{
    position: absolute;
    width: 14%;
    left: 75%;
    top: 24%;
}

#linea4{
    position: absolute;
    width: 7%;
    left: 23%;
    top: 46%;

}

#linea5{
    position: absolute;
    width: 7%;
    left: 75%;
    top: 45%;

}

#relaciones{
    position: absolute;
    width: 14%;
    left: 29%;
    top: 62%;
}

#valoresymetas{
    position: absolute;
    width: 14%;
    left: 63%;
    top: 62%;
}

#linea6{
    position: absolute;
    width: 17%;
    left: 44.5%;
    top: 68%;
}   

#linea7{
    position: absolute;
    width: 1%;
    height:45%;
    left: 52%;
    top: 81%;

}   

#identidad{
    position: absolute;
    width: 15%;
    left: 45%;
    top: 137%;
}

#linea8{
    position: relative;
    width: 7%;
    float: left;
    left: 25%;
    top: 23%;

}

#texto1{
    position: relative;
    float: left;
    width: 20%;
    font-size: 17px;
    color: white;
    text-align: center;
    top: 97px;
    left: 29%;
}

#linea9{
    position: relative;
    width: 20%;
    float: left;
    left: 33%;
    top: 121px;

}

#imagen{
    position: relative;
    float: left;
    width: 7%;
    left: 37.5%;
    top: 92px;
}

#linea10{
    position: relative;
    width: 7%;
    float: right;
    right: 11.5%;
    top: 0px;

}

#texto2{
    position: relative;
    float: right;
    width: 20%;
    font-size: 17px;
    color: white;
    text-align: center;
    top: 20px;
    right: 16%;
}

#linea11{
position: relative;
    width: 7%;
    float: right;
    right: 19%;
    top: 53px;

}

#marca{
    position: relative;
    width: 6%;
    left: 44%;
}

#linea12{
    position: relative;
    width: 0.3%;
    top: 21px;
    left: 47%;
}

#bigCircle{
	position: relative;
	width:50%;
	margin:0 auto; 
	height: 700px;
}

#tono{
    width: 12%;
    left: 38%;
    position: absolute;
    top: 5px;
}

#linea13{
position: absolute;
    width: 16%;
    left: 19%;
    top: 6%;
}

#linea14{
    position: absolute;
    width: 16%;
    left: 53%;
    top: 6%;
}

#diseno{
    width: 12%;
    left: 7%;
    position: absolute;
    top: 73px;
}

#logotipo{
    width: 12%;
    left: 68%;
    position: absolute;
    top: 75px;

}

#linea15{
    position: absolute;
    width: 8%;
    left: 0%;
    top: 20%;
}

#linea16{
    position: absolute;
    width: 6%;
    left: 80%;
    top: 21%;
}

#tipografia{
    width: 12%;
    left: -7%;
    position: absolute;
    top: 232px;

}

#recursos{
    width: 12%;
    left: 81%;
    position: absolute;
    top: 221px;
}

#linea17{
    position: absolute;
    width: 3%;
    left: -3%;
    top: 49%;
}

#linea18{
    position: absolute;
    width: 3%;
    left: 87%;
    top: 50%;
}

#estilo{
    width: 12%;
    left: -2%;
    position: absolute;
    top: 432px;
}

#paleta{
    width: 12%;
    left: 77%;
    position: absolute;
    top: 424px;

}

#linea19{
    position: absolute;
    width: 12%;
    left: 11%;
    top: 74%;
}

#linea20{
    position: absolute;
    width: 11%;
    left: 67%;
    top: 73%;
}

#foto{
    width: 12%;
    left: 25%;
    position: absolute;
    top: 558px;
}

#icono{
width: 12%;
    left: 54%;
    position: absolute;
    top: 555px;

}
#linea21{
    position: absolute;
    width: 11%;
    left: 40%;
    top: 85%;
}

#linea22{
    position: absolute;
    width: 0.7%;
    left: 45%;
    top: 89%;
}


#texto3{
position: relative;
    width: 16%;
    font-size: 16px;
    color: white;
    text-align: center;
    left: 40%;
    top: 14px;
}



#linea23{
    position: relative;
    width: 0.3%;
    left: 47.5%;
    top: 6%;
}

#bran{
    width: 30%;
    left: 32.7%;
    position: absolute;
    top: 25%;
}

#linea24{
    position: relative;
    width: 0.3%;
    left: 47.5%;
    top: 31%;
}

#texto4{
position: relative;
    width: 16%;
    font-size: 16px;
    color: white;
    text-align: center;
    left: 40%;
    top: 165px;
}

#texto5{
    position: absolute;
    top: 37%;
    text-align: center;
    color: white;
    width: 59%;
    font-size: 25px;
    left: 14%;
}

#linea25{
    position: relative;
    width: 0.3%;
    left: 47.5%;
    top: 36%;
}

#experiencia{
    width: 6%;
    left: 44.7%;
    position: absolute;
    top: 77%;
}

.workUs{
    text-align: center;
    font-size: 20px;
    font-family: 'Marion';
    color: white;
    padding: 30px 0;
    letter-spacing: 1px;
}

.fondoNegro{
    background-color: #000;
}

.triangulo{
    width: 0;
    height: 0;
    border-left: 1191px solid transparent;
    border-bottom: 85px solid black;
}

.altura{
        height: 50px;
}
.alturaDos{
        height: 100px;
}

.diferent{
    font-size: 18px;
        font-family: 'Gill Sans Bold';
}